__pycache__/
.idea/
load/
save/
*.ckpt
*.npz
*.log
*.pth
*.pbs
*.wav
*.jpg
*.mp4
*.avi
OpenFace-OpenFace_2.2.0
opensmile-3.0-linux-x64
Affwild2_processed
Affwild2_processed_ver2
Affwild2_processed_ver3
*.zip
*.tar.gz
*.txt